# Ignore the virtual environment
venv/

# Ignore sensitive credentials
.env

# Ignore local logs (you don't want old logs on GitHub)
*.log

# Ignore notes.txt file
notes.txt

# Ignore compiled python files
__pycache__/

# Ignore docs folder
docs/